@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

#Me
{
    background-color: rgb(226, 204, 190);
    display: inline;
    color: rgb(62, 69, 98)
}

main
{
    width: 70%;
    margin: 0 auto;
}

.card
{
    display: grid;
}