@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

header.div
{
    background-color: rgb(246, 232, 223);
    display: inline;
    color: rgb(62, 69, 96)
}

main
{
    width: 70%;
    margin: 0 auto;
}

.card
{
    display: grid;
}